<table style = "width:100%;" class="table table-bordered">
  <thead class="thead-dark">
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
  </thead>

  <tbody style = "width: 100%;">
    <tr>
      <td><img class="card-img-right flex-auto d-none d-lg-block" src="<%= @clip.image %>"  style="width: 350px; height: 380px;"></td>
      <td><%= @clip.title %></td>
      <td><%= @clip.description %><br><br><a class="btn btn-primary btn-sm" href="<%=  @clip.url %>" target="_blank">Continue reading</a></br></td>
    </tr>
  </tbody>
</table>

