<h2>みんなの意見<%= link_to '意見を投稿する', new_clip_opinion_path(@clip), class: "btn btn-danger btn-lg", style: "color:white;margin-left:30px;"  %></h2>

<div class="card-groups">
<% @opinions.each do |opinion| %>
<div class="card">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= opinion.title %></a></h4>
        <p style = "font-size:20px"><%= opinion.body %>
        <br><br><a class="card-text"><%= link_to "コメントを見る", clip_opinion_path(@clip,opinion), data: {"turbolinks" => false}, class: "btn btn-primary", style: "color:white;"%></a></p>
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>