<%= form_with(model: user_clip, local: true) do |form| %> 
<div class="row">
   <div class="col-md-8 mt-2">
       <%= text_field_tag :url, user_clip.clip&.url, class: 'form-control', placeholder: 'urlをコピペしてください' %>
   </div>
   <div class="col-md-4 mt-2">
       <%= form.submit 'クリップを保存する', class: 'btn btn-primary ' %>
   </div>
</div>
<% end %>