<% clip = @user_clip.clip %>
<div class="card-groups">
<div class="card">
    <div class="col-md-10">
      <img src="<%= @clip.image %>" class="card-img" alt="news-image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h7 class="card-title"><%= @clip.title %></h7>
        <%= @clip.description %>
        <p><a href="<%=  @clip.url %>" target="_blank">記事の続きを読む</a></p>
        </p>
      </div>
    </div>
  </div>
</div>
